<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=008785773c36ce63a3340655b913ab62&libraries=services"></script>

<script>
    // 테라폼이 배포 시점에 실제 주소로 바꿔줍니다.
    const API_BASE = "${API_URL}"; 
    const BOOKMARK_API = `${API_BASE}/bookmarks`;
    const RESTAURANT_API = `${API_BASE}/restaurants`;
    const REVIEW_API = `${API_BASE}/reviews`;
</script>